<header>
    <div class="header--enterprise-configs">
        <div class="dropdown">
            <button class="btn btn-dropdown-config" role="button" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-gear"></i></button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="@Url.Action("Empresa", "Configs")">Configurações</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Logout")">Sair</a></li>
            </ul>
        </div>

        <h2>Minha Empresa</h2>
    </div>
</header>